* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    /*width: 800px;*/
    /*height: 700px;*/
    width: 100%;
    height: 100%; /*必须设置为100%,通过background-size控制图片尺寸*/
    position: fixed;
    background: url('../img/test.jpg') center top no-repeat;
    background-size: 800px;
}
.wrap-text {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 1;
    padding: 30px;
}
.wrap-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
    margin: -30px;
    background: url('../img/test.jpg') center top no-repeat;
    background-size: 800px;
    background-attachment: fixed; /*图片拼接成功的关键*/
}

.wrap-text p {
    color: #ccc;
    text-indent: 2em;
    line-height: 1.7;
}
/*
1. 对元素直接使用模糊会将其内容全部模糊掉，为了保证文字不会模糊掉需要多一个层单独应用模糊效果。
2. 模糊效果并不会应用到其背后的元素上，所以需要使用 content 区域有和背景相同的背景图并进行模糊。
  多一个层级的方法不通过添加元素，而通过伪元素。
  由于伪元素不能通过 width:100% 和 height:100% 来继承宿主元素的尺寸，因此通过设置top bottom left right均为0来继承 content 的尺寸；
  为了使伪元素位于 content 的下面设置 z-index:-1，为不使其隐藏到背景图的后面，这里给伪元素的宿主元素 content 设置 z-index:1
3.即使设置了相同的 background-postion 与 background-size，中间部分的图和大背景还是没有拼接成功。
  添加 background-attachment: fixed 属性，设置背景图像固定不随着页面的其余部分滚动, 之后为其进行模糊处理。
4.设置伪元素 margin: -30px 的原因,在元素的边缘模糊效果减弱了,通过设置负margin值增大伪元素范围,同时给宿主元素添加overflow: hidden
*/
