body {
    font-size: 16px;
    background: url("../img/test.jpg") no-repeat;
    background-size: cover;
}
.wrap {
    background: #fff;
    padding: 2em;
    margin: 10em auto 0;
    max-width: 40em;
    /*border: 10px solid #000;!* 无需background-clip属性*!*/
    /*border: 10px solid rgba(255,255,255,0.5); !* 无需background-clip属性*!*/
    border: 10px solid hsla(0,0%,100%,0.5);
    /* 需要background-clip属性
    hsla(色调,饱和度,亮度,透明度) 色调0-360,0、360红色,120绿色,240蓝色
    作者建议使用hsla而不是rgba,因为它的字符长度更短，重复率更低。
    */
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box; /* background-clip属性,border-box 背景剪裁至边框 padding-box 背景剪裁至内边框 content-box 背景剪裁至内容框*/
    line-height: 1.5em;
    font-size: 125%;
}
